:root{
    --dark-background: #181818;
    --light-main-color: #FFFFFF;
    --primaty-blue: #4452FE;
    --secondary-green: #02E4C0;
    --secondary-black: #000000;
    --secondary-gray: #5C5C5C;
    --follow-color: #343434;
    --follow-color-mbl:#1E1E1E;
}


$bp-desktop:1200px;
$bp-tablet:770px;
$bp-mobile:480px;
