.contents{
    margin-bottom: 100px;

    &__text-box{
        margin-bottom: 44px;
    }
    
    &__title{
        margin-bottom: 10px;
    }

    &__text{
        text-align: center;
        
    }
}