.gallery{

    margin-bottom: 100px;


    &__title{
        margin-bottom: 10px;
    }

    &__text{
    max-width: 591px;
        text-align: center;
        margin: 0 auto 44px;
    }

    &__photo-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 33px 44px;
        margin-bottom: 44px;
        

        @media screen and (min-width:$bp-desktop) {
            flex-wrap: wrap; 
            flex-direction: row;
        }
    }

    &__button{
        display: block;
        font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 18px;
            width: 178px;
            height: 65px;
            background-color: transparent;
            border: 1px solid var(--light-main-color);
            color: var(--light-main-color);
            margin: 0 auto;
            cursor: pointer;
    }

    &__item{
        border-radius: 12px;
        display: none;

        @media screen and (min-width:$bp-desktop) {
        display: block;

        }        
    }

    &__item-mbl{
        display: block;
        border-radius: 12px;

        @media screen and (min-width:$bp-desktop) {
        display: none;    
        } 

    }

        
}