.partners{
    margin-bottom: 100px;

    &__text-box{
       margin-bottom: 50px; 
    }

    &__title{
      margin-bottom: 10px;  
    }

    &__text{
        
        text-align: center;
        margin: 0 auto;
    }

   

    &__icons-partners{
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
        flex-wrap: wrap;

        @media screen and (min-width:$bp-tablet) {
            gap: 74px; 
            justify-content: center;
        }

    }

    &__button{
        display: block;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 18px;
            width: 176px;
            height: 52px;
            background-color: transparent;
            border: 1px solid var(--light-main-color);
            color: var(--light-main-color);
            margin: 0 auto;
            cursor: pointer;
    }
}